* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.krejt{
    background-image: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)),
    url(/fotot/wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-size: cover;
    
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    
}    

.content {
    background-image: radial-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url(/fotot/book.jpg);
    background-size:cover;  
    border: 2px solid #ff7c02;
    border-radius: 60px;
    text-align: center; 
    height: 400px;
    max-height:95%;
    width: 600px;
    max-width: 95%;
    padding: 80px;
    color: #fff;
}

.content h1 {
    font-size: 40px;
    text-transform: uppercase;
}

.content h5 {
    font-size: 20px;
    padding: 8px;
}

.content p {
    font-size: 15px;
    padding: 15px;
}
span{
    color: rgb(255, 153, 0);
}
