.container{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(contactphoto.jfif);
    background-size: cover;
}
.container .content h2{
    font-size: 36px;
    font-weight: 500;
    color: rgb(95, 28, 28);
}
.container .content p{
    font-weight: 300;
    color: #000000;
}
.container .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .box .icon
{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;     
}
.container .box .text h3{
    font-weight: 500;
    color: blueviolet;
}
