body {
 
    font-size: larger;
    line-height: 1.3;
    background-color: rgb(255, 255, 245);
    padding: 0;
}


header {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    margin-bottom: 10px;
  
}

.features {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

table {
    border-spacing: 0 20px;
    width: 100%;
}

#rendi {
    display: flex;
    width: 100%;
}

#rendi .celula1,
#rendi .celula2 {
    flex: 1;
}

#video1 {
    width: 100%;
    max-width: 100%;
    border-radius: 15px;
}

.celula2 {
    flex-basis: 40%; 
    padding: 20px;
    padding-top: 120px;
}

.darkMode {
    background-color: rgb(20,20,20);
    color: white;
}