<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/futeri.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="futeri">
        <div class="table">
        <table>
            <tr>
                <td class="col1"><a href="#top">Online Library</a></td>
                <td>
                    <div class="social-links">
                        <a href="https://www.facebook.com/"><img src="/fotot/facebook.png" alt="" class="img"></a>
                        <a href="https://www.instagram.com/"><img src="/fotot/instagram (1).png" alt="" class="img"></a>
                        <a href="https://www.google.com/gmail/about/"><img src="/fotot/email.png" alt="" class="img"></a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    </div>
    
</body>
</html>