<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kristi&family=Open+Sans:wght@300&family=Praise&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul class="navElements">
            <li><a class="a1  "  href="../pages/home.html"><span class="a2">E-Library</span></a></li>
            <li><a class="a1  " href="../pages/home.html">home</a></li>
            <li><a class="a1 " href="../pages/login.html">login</a></li>
            <li><a class="a1 " href="../pages/offers.html">offers</a></li>
            <li><a class="a1 " href="../pages/products.html">products</a></li>
            <li><a class="a1 " href="../pages/register.html">register</a></li>
       
            <li><a href="#"><img src="/images/assets/icon.png" alt=""></a></li>
            </ul>
           
    </nav>
</body>
</html>